# dependency directories
/node_modules

# Arquivos de configuracao e credenciais de teste
config/testCredentials.js

# IDE files
.vscode

# Expo and other build files
/web-build
/dist
.expo/
.expo-shared/
